.WuYeFuWuListItem {
  align-items: flex-start;
  padding: 30px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.WuYeFuWuListItem > .Img {
  width: 110px;
  height: 88px;
  position: relative;
  overflow: hidden;
  background: #eee;
  margin-right: 20px;
}
.WuYeFuWuListItem > .Img > image {
  width: 100%;
  height: 100%;
}
.WuYeFuWuListItem > .flex-item {
  position: relative;
  overflow: hidden;
}
.WuYeFuWuListItem > .flex-item > text {
  display: block;
  font-size: 28px;
  line-height: 40px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.WuYeFuWuListItem > .flex-item > view {
  font-size: 0;
  white-space: nowrap;
}
.WuYeFuWuListItem > .flex-item > view > text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  color: #666;
  font-size: 20px;
  line-height: 40px;
}
